<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <%- include('include/_header') %>
        <link rel="stylesheet" href="/css/accessory.css">
    
    </head>
    <body>
        <div class="container">
            <div class="breadcrumb">
                <a href="/accessories/<%= accessory.type %>"><%= accessory.type %></a> > <a href="#"><%= accessory.gender %></a>
            </div>

            <hr>
            
            <div class="product">
                <img src="/images/example_watch.jpg" alt="Cluse Watch">
                <div class="product-details">
                    <h1><%= accessory.company %></h1>
                    <p class="price">$<%= accessory.price %></p>
                    <p class="text-muted"><%= accessory.color %></p>
                    <div class="buttons">
                        <span class="wishlist">☆</span>
                        <button class="add-to-cart">Add to Cart</button>
                        <% if ( username == 'admin@important.com' ) { %>
                            <button type="button" class="btn" data-toggle="modal" data-target="#modal">Edit Item</button>
                        <% } %>
                    </div>


                    <!-- Modal Structure -->
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Accessory</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="edit-form">
                                    <div class="modal-body">
                                        <div id="error-message" class="alert alert-danger" style="display: none;"></div>
                                        <div class="form-group">
                                            <input type="hidden" id="id-input" name="id" value="<%= accessory.id %>">
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" id="type-input" name="type" value="<%= accessory.type %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">color</label>
                                            <input type="text" class="form-control" id="color-input" name="color" value="<%= accessory.color %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="company">company</label>
                                            <input type="text" class="form-control" id="company-input" name="company" value="<%= accessory.company %>">
                                        </div>
                                        <div class="form-group">
                                            <label for="gender">Gender</label>
                                            <select class="form-control" id="gender-select" name="gender">
                                                <option value="Female" <%= accessory.gender === 'Female' ? 'selected' : '' %>>Female</option>
                                                <option value="Male" <%= accessory.gender === 'Male' ? 'selected' : '' %>>Male</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Price</label>
                                            <input type="number" class="form-control" id="price-input" name="price" step="0.01" min="0" value="<%= accessory.price %>">
                                        </div>
                                        <!-- TODO 
                                        after decide how the images is saved, need to change in the form.
                                        right now it will be a simple string.
                                        <input type="file" class="form-control-file" id="image-input" name="image" accept="image/*">
                                        -->
                                        <div class="form-group">
                                            <label for="image">Image</label>
                                            <input type="text" class="form-control" id="img-input" name="img"  value="<%= accessory.img %>">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                                            <button type="button" class="btn" id="edit-button">save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/js/accessory.js"></script>
        <%- include('include/_footer') %>

    </body>
</html>

<!-- TODO 
edit the FEMALE/MALE url for it to filter by gender
edit the eddit-button
edit the wishlist button 
change the static photo
add a popout- you cannot add to card unless you sign in
-->
